{% extends 'base.html.twig' %}

{% block title %}
Inscription - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/component/form.css') }}">
{% endblock %}

{% block body %}
    
    {{ form_start(registrationForm) }}
    
        <div class="container-md">
            <h1 class="text-center">
                Inscription
            </h1>
            <div class="col-2">
                {{ form_row(registrationForm.nickname) }}
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.lastname) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.birthdate) }}
                {{ form_row(registrationForm.password, {
                    label: 'Password'}) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit"></button>

                <button class="g-recaptcha"
                 data-sitekey=" 6LcqTnoeAAAAADp_Hvii_XrIWr6Ko6SGx5DfvGT7" 
                data-callback='onSubmit' 
                data-action='submit'>S'inscrire</button>
            </div>

        </div>

        <script>
            function onSubmit(token) {
              document.getElementById("demo-form").submit();
            }
          </script>


        <script src="https://www.google.com/recaptcha/api.js"></script>
    {{ form_end(registrationForm) }}

{% endblock %}
