{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/component/form.css') }}">
{% endblock %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
    <div class="row d-flex justify-content-center">
        <div class="col-2">
            {{ form_row(registrationForm.nickname) }}
            {{ form_row(registrationForm.firstname) }}
            {{ form_row(registrationForm.lastname) }}
            {{ form_row(registrationForm.email) }}
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-2">
            {{ form_row(registrationForm.birthdate) }}
            {{ form_row(registrationForm.password, {
            label: 'Password'
        }) }}
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <div class="col-2">   
            {{ form_row(registrationForm.agreeTerms) }}
            <button type="submit" class="button">M'inscrire</button>
        </div>
    </div>
   
    {{ form_end(registrationForm) }}

{% endblock %}
