{% extends 'base.html.twig' %}

{% block title %}Liste des annonces - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/ad/list.css') }}">
{% endblock %}

{% block body %}
    <p class="text-center">
       Toi aussi rejoins les meilleurs joueurs pour former la meilleure équipe !
    <br><span class="text-space"></span>
       Tu trouveras facilement le nom de la team et joueurs que tu cherches.
    </p>
    
    <div class="card container-md">
        <hr>
        {% for ad in ads %}
            <article class="card-body">
                <div>
                    <img class="card-img-top" src="{{ ad.picture }}" alt="{{ ad.name }}">
                </div>
                <div>
                    <h2 class="card-title">{{ ad.name }}</h2>
                    <p class="card-text">{{ ad.description|slice(0, 80) }} ...</p>
                    <p>Ajouté par {{ ad.user.firstname }}</p>
                </div>
            </article>
            <div>
                <a href="{{ path('ad_show', {id: ad.id}) }}">En savoir plus</a>
            </div>
            {% endfor %}
    </div>
{% endblock %}