{% extends 'base.html.twig' %}

{% block title %}
    {{ ad.name }} - {{ parent() }}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/ad/show.css') }}">
{% endblock %}

{% block body %}
<div class="card container-md">
    <article class="card-body">
        <div>
            {% if ad.picture == null %}
                {{ "" }}
            {% else %}
                <img class="card-img-top" src="{{ ad.picture }}" alt="{{ ad.name }}">
            {% endif %}
        </div>

        <div>
            <h2 class="card-title">{{ ad.name }}</h2>
            
            <p class="card-text">{{ ad.description }}</p>
            <p>Ajouté par {{ ad.user.nickname }}</p>
        </div>
    </article>
</div>
{% endblock %}