{% extends 'base.html.twig' %}

{% block title %}Recherche un joueur- {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/components/form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/user/list.css') }}">
{% endblock %}

{% block body %}
    
    <h1>Rechercher un joueur</h1><br>

    <div class="example-wrapper"></div>
    
        <p>Recherche un joueur par son pseudo, ou filtre par le jeu et le support.</p>
        
        <p>Accède à son Profil Joueur et voir ce qu'il a publié.</p>

        <p>Pour entrer en contact avec lui ou elle, tu dois au préalable t'inscrire 
            ou te connecter sur Gameet.</p>
    </div> 

    {{ form_start(searchForm) }}

    <div class="d-flex justify-content-center gap-5">
        <div class="text-center">
            {{ form_end(searchForm) }}



           <br>
           
        <div class="example-wrapper">
            Listes des derniers joueurs inscrits:
                    <div class="images">
                   <img src="images\img1.jpeg" class="m1" alt="img1">
                     <img src="images\img2.jpeg" class="m2" alt="img2">
                     <img src="images\img3.jpeg"  class="m3"alt="img3">
                     <img src="images\img4.jpeg"  class="m4"   alt=" img4">
                      </div>
                     
             </div>
              
            </div>
        </div>
    </div>

{% endblock %}