{% extends 'base.html.twig' %}

{% block title %}Recherche un joueur- {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/components/form.css') }}">
    <link rel="stylesheet" href="{{ asset('css/user/list.css') }}">
{% endblock %}

{% block body %}





    <h1>Rechercher un joueur</h1>


    {{ form_start(searchForm) }}
    <div class="row d-flex justify-content-center">
        <div class="col-2">
          
    
            <div class="col-2">
        {{ form_row(searchForm.pseudo) }}
    <div class="row"></div>
    {{ form_row(searchForm.jeu) }}
    {{ form_row(searchForm.support) }}<br>

  
    {{ form_end(searchForm) }}

    
{% endblock %}